/*
|------------------------------------------
|  About-intro
|------------------------------------------
*/
.about-header {
    font-size: 25px;
    text-align: center;
    padding: 25px 25px 0;
}

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hello .text .name {
    color: #BF6B4B;
}

.hello .text {
    width: 100vw;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}

.hello .profile img {
    align-items: center;
    width: 80vw;
    border-radius: 25px;
}

.about-text-spacing {
    padding: 15px;
    margin: 15px 0;
}

.about-text-spacing h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-text-spacing p {
    font-size: 15px;
}

/*
|------------------------------------------
|  Slideshow
|------------------------------------------
*/
.slideshow-container {
    max-width: 80vw;
    position: relative;
    margin: auto;
}

/*
|------------------------------------------
|  About Me
|------------------------------------------
*/

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    width: 75vw;
}

.about-me-text p{
    line-height: 25px;
}

.about-me .email {
    color:#BF6B4B;
    text-decoration: underline 0.1em #bf6c4b00;
    transition: text-decoration-color 300ms;
}

/*
|------------------------------------------
|  Experience, Skills & Education
|------------------------------------------
*/
.experience-skills {
    background-color:#191C33 ;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.experience-skills h3 {
    font-weight: 500;
}

.experience-skills ul {
    margin-left: 25px;
}

.experience-skills li {
    font-weight: 200;
    list-style-type: disc;
    font-size: 18px;
    padding: 10px;
}

.experience-skills p {
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
}

.experience-skills .link {
    color: #BF6B4B;
    text-decoration: none;
    font-weight: 400;
    text-decoration: underline 2px #bf6c4b00;
    transition: text-decoration-color 300ms;
}

.experience,.skills, .education {
    margin: 25px 0;
}

/*
|------------------------------------------
|  Extra
|------------------------------------------
*/
.extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.extra-text {
    width: 75vw;
}

.extra-text p{
    line-height: 25px;
}

.extra .extra-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.extra img {
    width: 75vw;
    border-radius: 25px;
}

.extra-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
|------------------------------------------
|  Contact 
|------------------------------------------
*/
.contact {
    text-align: center;
    margin-top: -25px;
}

.contact button {
    padding: 5px 20px;
    background-color: rgb(230, 230, 230);
    color: #191C33;
    border: solid 2px #191C33;
    transition: all .2s ease-in-out;
    border-radius: 15px;
    margin: 0 auto;
}


/*
|------------------------------------------
|  Media Queries
|------------------------------------------
*/

@media (min-width: 375px) {
    .about-text-spacing p {
        font-size: 18px;
    }
    .experience-skills p {
        font-size: 18px;
    }
}

@media (min-width: 442px) {
    .about-text-spacing {
        padding: 25px;
    }
}

@media (min-width: 576px) {
    .about-header {
        font-size: 30px;
    }
    .hello .text {
        font-size: 23px;
    }
    .about-text-spacing h3 {
        font-size: 23px;
    }
    .experience-skills li {
        font-weight: 300;
    }
    .experience-skills p {
        font-weight: 300;
    }
    .experience-skills {
        padding: 20px 60px;
    }
    .extra img {
        width: 60vw
    }
}

@media (min-width: 768px) {
    .slideshow-container {
        max-width: 70vw;
    }
    .hello .profile img {
        width: 70vw;
    }
    .about-me-text {
        width: 70vw;
    }
    .hello .text {
        font-size: 22px;
    }
    .about-text-spacing h3 {
        font-size: 25px;
    }
    .about-text-spacing p {
        font-size: 20px;
    }
    .experience-skills p {
        font-size: 20px;
    }
    .experience-skills li {
        font-weight: 400;
    }
    .experience-skills p {
        font-weight: 400;
    }
    .experience-skills {
        padding: 20px 80px;
    }
    .extra-text {
        flex-basis: 70%;
        max-width: 70%;
        padding: 70px 0 70px 70px;
    }
    .extra {
        flex-direction: row;
        max-width: 80vw;
    }
    .extra-img {
        flex-basis: 30%;
        max-width: 30%;
    }
    .extra img {
        width: 30vw
    }
}

@media (min-width: 992px) {
    .slideshow-container {
        max-width: 60vw;
    }
    .about-me-text {
        width: 60vw;
    }
    .hello .profile img {
        width: 60vw;
    }
    .experience-skills {
        flex-direction: row;
        padding: 30px;
    }
    .experience {
        flex-basis: 33.333333333%;
        max-width: 33.333333333%;
        padding: 15px;
    }
    .skills {
        flex-basis: 33.333333333%;
        max-width: 33.333333333%;
        padding: 15px;
    }
    .education {
        flex-basis: 33.333333333%;
        max-width: 33.333333333%;
        padding: 15px;
    }
    .experience-skills li {
        font-weight: 300;
    }
    .experience-skills p {
        font-weight: 300;
    }
    .experience-skills .link:hover {
        text-decoration-color: #BF6B4B;
    }
    .contact button:hover {
        background-color: #BF6B4B;
        color: rgb(230, 230, 230);
        transform: scale(0.95);
    }
    .about-me .email:hover {
        text-decoration: underline 0.1em #BF6B4B;
    }
    .extra-text {
        flex-basis: 65%;
        max-width: 65%;
    }
    .extra-img {
        flex-basis: 35%;
        max-width: 35%;
    }
    .extra img {
        width: 28vw
    }
}

@media (min-width: 1200px) {
    .slideshow-container {
        max-width: 50vw;
    }
    .about-me-text {
        width: 50vw;
    }
    .hello .profile img {
        width: 50vw;
    }
    .hello .text {
        font-size: 25px;
    }
    .about-header {
        font-size: 40px;
    }
    .about-text-spacing p {
        font-size: 20px;
    }
    .experience-skills p {
        font-size: 20px;
    }
    .about-text-spacing {
        padding: 40px;
    }
    .extra {
        max-width: 70vw;
    }
    .extra img {
        width: 20vw
    }
    .extra-text {
        flex-basis: 65%;
        max-width: 65%;
        padding-right: 100px;
    }
}