.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;
}

.project h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
}

.project h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.project h5 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}

.project p {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    font-family: 'Archivo', sans-serif;
}

.project img {
    width: 80vw;
    height: auto;
    display: block;
    margin: 20px auto 20px;
}

.mockups {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.mockup-holder img {
    width: 80vw;
    vertical-align: middle;
}

.mockup-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-header {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.section-spacing {
    margin: 20px 0; 
    width: 80vw;
}

.next {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
    font-size: 18px;
}

.next-btn {
    animation: color 1s ease;
}

.prev-btn {
    animation: color 1s ease;
}

.back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#myBtn {
    font-family: 'Kanit', sans-serif;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    font-size: 15px;
    font-weight: 300;
    border: none;
    outline: none;
    background-color: #191C33;
    color: white;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 30px;
    animation: color 1s ease;
  }
  
  .center {
    text-align: center;
}

.slick-dots li button:before {
    font-size: 25px;
    margin-bottom: 20px;
}

/*
|------------------------------------------
|  Banner 
|------------------------------------------
*/

.work-bnr {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

.work-bnr .work-logo {
    width: 100%;
    max-width: 400px;
    height: auto;
    opacity: 1;
    padding: 50px;
}

/*
|------------------------------------------
|  Foreward 
|------------------------------------------
*/
.foreward {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 20px 15px;
    padding: 20px 30px;
}

.foreward h2 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.foreward p {
    font-size: 15px;
    color: #191C33;
}

.foreward span {
    text-decoration: underline 0.1em #bf6c4b00;
    transition: text-decoration-color 300ms;
    color: #BF6B4B;
}

.foreward a {
    text-decoration: none;
    color: #191C33;
}

/*
|------------------------------------------
|   Anchors
|------------------------------------------
*/
#projectAnchors {
    width: 100vw;
    background-color: white;
    margin: 30px 0 0;
    z-index: 999;
}

#projectAnchors {
    position: sticky;
    top: 0;
}

.anchors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-top: solid #191C33 1px;
    border-bottom: solid #191C33 1px;
}

.bot-anchors {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid #191C33 1px;
}

.anchors a {
    text-decoration: none;
}

.anchors li {
    padding: 20px;
    color: #191C33;
    font-size: 12px;
    text-align: center;
    border-top: none;
}


/*
|------------------------------------------
|   Details
|------------------------------------------
*/

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 25px 25px;
}

.detail-list {
    display: flex;
}

.detail-list li {
    padding: 10px;
    font-size: 15px;
}

.project .hook {
    margin-top: -25px;
    margin-bottom: 25px;
}

/*
|------------------------------------------
|  Colors
|------------------------------------------
*/

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
}

.colors-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.swatch {
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100px;
    height: 100px;
}

.color-overlay {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.color-overlay .color-code {
    color: black;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
}


.colors-top {
    display: flex;
}
.colors-bot {
    display: flex;
}
/*
|------------------------------------------
|  Takeaways
|------------------------------------------
*/
.project-takeaways {
    display: flex;
    flex-direction: column;
}

.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.team-members a {
    color: #191C33;
    text-decoration: none;
    font-size: 15px;
    text-decoration: underline 0.1em #bf6c4b00;
    transition: text-decoration-color 300ms;
}


/*
|------------------------------------------
|  Project Buttons
|------------------------------------------
*/


button {
    padding: 8px 12px;
    transition: background-color 1s, color 0.5s;
    border-radius: 20px;
    border: 1px solid #191C33;
    font-size: 15px;
}


@media (min-width: 442px) {
    .anchors li {
        font-size: 15px;
    }
    .project p {
        font-size: 18px;
    }
    .foreward p {
        font-size: 18px;
    }
    .detail-list li {
        font-size: 18px;
    }
    button {
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    .swatch {
        width: 150px;
        height: 150px;
    }
    .colors-container {
        width: 150px;
        height: 150px;
    }
    .color-overlay .color-code {
        font-size: 15px;
    }
}


@media (min-width: 768px) {
    .project img {
        max-width: 60vw;
        width: 60vw;
        display: block;
        margin: 50px auto;
    }
    .foreward h2 {
        font-size: 20px;
    }
    .anchors li {
        padding: 30px 40px;
        width: auto;
        border: none;
    }
    .anchors .first {
        border: none;
    }
    .foreward p {
        font-size: 20px;
    }
    .detail-list li {
        font-size: 20px;
    }
    button {
        font-size: 20px;
    }
    .team-members a {
        font-size: 20px;
    }
    .colors {
        flex-direction: row;
    }
    .color-overlay .color-code {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .project {
        width: 70vw;
    }
    .section-spacing {
        width: 70vw;
    }
    .project p {
        line-height: 2;
    }
    .foreward span:hover {
        text-decoration-color: #BF6B4B;
    }
    .project img {
        width: 50vw;
    }
    .foreward h2 {
        font-size: 22px;
    }
    .anchors li {
        padding: 30px 50px;
        font-size: 18px;
        transition: color 0.5s;
    }
    .anchors li:hover {
        color: #BF6B4B;
    }
    .next-btn:hover {
        background-color: #BF6B4B;
        color: white;
    }
    
    .prev-btn:hover {
        background-color: #BF6B4B;
        color: white;
    }
    #myBtn:hover {
        background-color: #BF6B4B;
        color: white;
      }
    .team-members a:hover {
        text-decoration-color: #BF6B4B;
    }
    .anchors {
        flex-direction: row;
        border-top: solid #191C33 1px;
        border-bottom: solid #191C33 1px;
    }
    .top-anchor {
        width: auto;
        border-top: none;
        border-bottom: none;
    }
    .bot-anchors {
        width: auto;
        border-bottom: none;
    }
}


@media (min-width: 1200px) {
    .project {
        width: 60vw;
    }
    .section-spacing {
        width: 60vw;
    }
    .project img {
        width: 30vw;
    }
    .foreward h2 {
        font-size: 25px;
    }
    .anchors li {
        padding: 30px 70px;
    }
    .project h3 {
        font-size: 30px;
    }
    .project h4 {
        font-size: 24px;
    }
    .project h5 {
        font-size: 20px;
    }
    .project p {
        font-size: 20px;
    }
}