/*
|------------------------------------------
|  Project 
|------------------------------------------
*/

.project.web-dev-project img {
    width: auto;
    max-width: 60vw;
    max-height: 40vh;
    height: auto;
    display: block;
}

.final-website button {
    animation: color 1s ease;
}


/*
|------------------------------------------
|  Banner 
|------------------------------------------
*/
.huxi-bnr {
    background-color: #7ea9c9;
}

.ah-bnr {
    background-color: #3a3939;
}

.play-well-bnr {
    background-color: rgba(199, 162, 0, 0.45);
}

/*
|------------------------------------------
|   About
|------------------------------------------
*/

.about {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.final-website {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ah-logos {
    display: flex;
    background-color: #3a3939;
    margin: 25px 0;
}

.project .ah-logos .ah-logo {
    width: 30vw;
    max-width: 40vw;
    margin:0 auto;
}
/*
|------------------------------------------
|  Design 
|------------------------------------------
*/
.process h5 {
    margin-top: 50px;
}

.huxi-mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.project.web-dev-project .huxi-nav {
    width: 70vw;
}


/*
|------------------------------------------
|  Colours 
|------------------------------------------
*/

.color-one {
    background-color: #fffbf7;
}

.color-two {
    background-color: #05e6e0;
}

.color-three {
    background-color: #e6e307;
}

.color-four {
    background-color: #e61e21;
}


.fonts {
    display: flex;
    margin: 25px 0;
}

.project .fonts img {
    width: 30vw;
    height: auto;
}


/*
|------------------------------------------
|  Media Queries 
|------------------------------------------
*/

@media (min-width: 992px) {
    .project.web-dev-project img {
        max-width: 60vw;
        max-height: 60vh;
    }
    .huxi-mobile-nav {
        flex-direction: row;
    }
      .huxi-mobile-nav p {
        flex-basis: 40%;
        max-width: 40%;
        padding-right: 40px;
    }
    .huxi-mobile-nav .huxi-mob-nav-img {
        flex-basis: 60%;
        max-width: 60%;
    }
    .huxi-mobile-nav img {
        width: 50%;
    }
    .project .fonts img {
        width: 20vw;
        height: auto;
        max-width: 20vw;
    }
    .final-website button:hover {
        background-color: #BF6B4B;
        color: white;
    }
}

@media (min-width: 1200px) {
      .huxi-mobile-nav p {
        flex-basis: 50%;
        max-width: 50%;
    }
    .huxi-mobile-nav .huxi-mob-nav-img {
        flex-basis: 50%;
        max-width: 50%;
    }
    .huxi-mobile-nav img {
        margin-right: 0;
    }
    .project .fonts img {
        width: 20vw;
        height: auto;
        max-width: 20vw;
    }
}

@media (min-width: 1500px) {
    .huxi-mobile-nav p {
      flex-basis: 60%;
      max-width: 60%;
  }
  .huxi-mobile-nav .huxi-mob-nav-img {
      flex-basis: 40%;
      max-width: 40%;
  }
}